/RemoteSystemsTempFiles/*
/.metadata
/RoomLife/gwt-unitCache/*
/RoomLife/.settings/*
/RoomLife/bin/*
/RoomLife/src/META-INF/*
/RoomLife/src/log4j.properties
/RoomLife/test-classes/*
/RoomLife/war/roomlife/*
/RoomLife/war/classes/*
/RoomLife/war/logging.properties
/RoomLife/war/deploy/*
/RoomLife/.classpath
/RoomLife/war/WEB-INF/lib/*
/RoomLife/war/WEB-INF/classes/com/appspot/t_gecko_764/*
*.class
*.classpath
