<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
    <servlet>
     	<servlet-name>billServlet</servlet-name>
     	<servlet-class>com.appspot.t_gecko_764.BillServlet</servlet-class>
    </servlet>
   	<servlet-mapping>
   	 	<servlet-name>billServlet</servlet-name>
    	<url-pattern>/BillEntry</url-pattern>
  	</servlet-mapping>
  
   	<servlet>
        <serlet-name>billreq</serlet-name>
        <servlet-class>guestbook.BillRequest</servlet-class>
    </servlet>  
   	<servlet-mapping>
     	<servlet-name>billreq</servlet-name>
     	<url-pattern>/breq</url-pattern>
    </servlet-mapping>
    
   	 <servlet>
        <servlet-name>mainreq</servlet-name>
        <servlet-class>guestbook.MaintenanceRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainreq</servlet-name>
        <url-pattern>/mreq</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>	
	<filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>
  
    <servlet>
   	 	<servlet-name>homeServlet</servlet-name>
    	<servlet-class>com.appspot.t_gecko_764.HomeServlet</servlet-class>
  	</servlet> 
  	<servlet-mapping>
    	<servlet-name>homeServlet</servlet-name>
    	<url-pattern>/home</url-pattern>
  	</servlet-mapping>
  
  	<servlet>
    	<servlet-name>debtServlet</servlet-name>
    	<servlet-class>com.appspot.t_gecko_764.DebtServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>debtServlet</servlet-name>
    	<url-pattern>/DebtEntry</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>cannedDataServlet</servlet-name>
    	<servlet-class>com.appspot.t_gecko_764.CannedDataServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>cannedDataServlet</servlet-name>
    	<url-pattern>/canneddata</url-pattern>
  	</servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>RoomLife.html</welcome-file>
  </welcome-file-list>

</web-app>
