h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: SlateGray;
}

body {
	background: WhiteSmoke;
}

fieldset {
	width: 500px;
}

legend {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

label.field {
	text-align: left;
	width: 150px;
	float: left;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
}

input.textbox {
	width: 300px;
	float: left:
}

fieldset p {
	clear: both;
	padding: 2px;
}
